---
import { getCollection } from "astro:content";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { getArticleReadingTime } from "@utils/blog";
import { getLangFromUrl } from "../../../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const lang = "vi";
  const blogEntries = await getCollection("blog", ({ id, data }) => {
    return id.startsWith(`${lang}/`) && !id.endsWith('keep') && !data.draft;
  });

  return blogEntries.map((post) => {
    // Extract slug without the 'vi/' prefix
    const slug = post.slug.split('/').pop(); 
    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { data, render } = post;
const { Content } = await render();
const readTime = getArticleReadingTime(post.body);
const lang = getLangFromUrl(Astro.url);

function localizePath(path: string) {
  return getRelativeLocaleUrl(lang, path);
}
---

<Layout title={data.title} lang={lang}>
  <Container>
    <div class="mx-auto prose prose-lg dark:prose-invert mt-14">
      <a href={localizePath(`/blog/category/${data.category?.toLowerCase()}`)} class="text-blue-400 uppercase text-sm no-underline">
        {data.category}
      </a>
      <h1 class="text-4xl font-bold mt-1 dark:text-white">{data.title}</h1>
      <div class="flex gap-2 mt-4 text-gray-400">
        <span>{data.author}</span>
        <span>•</span>
        <span>{readTime} min</span>
        <span>•</span>
        <time datetime={data.publishDate.toISOString()}>{data.publishDate.toDateString()}</time>
      </div>
    </div>

    <div class="mx-auto prose prose-lg dark:prose-invert mt-6 dark:text-gray-200">
      <Content />
    </div>

    <div class="mx-auto mt-20">
      <a href={localizePath("/blog")} class="flex items-center justify-center dark:text-stone-200">
        <Icon name="ion:arrow-back" class="w-6 h-6 mr-2" />
        Back to blog
      </a>
    </div>
  </Container>
</Layout>